{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            {{ about.title }}
            <h2></h2>
            {{ about.content }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            {{ about.updated_on }}
            <p class="text-end"><em>Updated on: </em></p>
        </div>
      </div>
</div>
{% endblock content %}